@{
    ViewData["Title"] = "Student Create Page";
}
@model Student;
<div>
    <form method="post" asp-action="Create" asp-controller="Home">
        Name: <input asp-for="Name" class="form-control"/>
        <br />
        Age: <input asp-for="Age" class="form-control" />
        <br />
        Phone: <input asp-for="PhoneNo" class="form-control"/>
        <br />
        <input type="submit" value="Save"/>
    </form>
</div>
